<div id='container'><button id="fetch">GO</button></div>

<div class='wrapper'>
  <section class="game-concentration">
    <div class="memory-card" data-value='google'>
      <img src="./images/google.svg" alt="google" class="front-face">
      <img src="./images/html.svg" alt="html-badge" class="back-face">
    </div>
    <div class="memory-card" data-value='google'>
      <img src="./images/google.svg" alt="google" class="front-face">
      <img src="./images/html.svg" alt="html-badge" class="back-face">
    </div>
    <div class="memory-card" data-value='slack'>
      <img src="./images/slack.svg" alt="slack" class="front-face">
      <img src="./images/html.svg" alt="html-badge" class="back-face">
    </div>
    <div class="memory-card" data-value='slack'>
      <img src="./images/slack.svg" alt="slack" class="front-face">
      <img src="./images/html.svg" alt="html-badge" class="back-face">
    </div>
    <div class="memory-card" data-value='eyeball'>
      <img src="./images/eyeball.svg" alt="eyeball" class="front-face">
      <img src="./images/html.svg" alt="html-badge" class="back-face">
    </div>
    <div class="memory-card" data-value='eyeball'>
      <img src="./images/eyeball.svg" alt="eyeball" class="front-face">
      <img src="./images/html.svg" alt="html-badge" class="back-face">
    </div>
    <div class="memory-card" data-value='ghost'>
      <img src="./images/ghost.svg" alt="ghost" class="front-face">
      <img src="./images/html.svg" alt="html-badge" class="back-face">
    </div>
    <div class="memory-card" data-value='ghost'>
      <img src="./images/ghost.svg" alt="ghost" class="front-face">
      <img src="./images/html.svg" alt="html-badge" class="back-face">
    </div>
    <div class="memory-card" data-value='astro'>
      <img src="./images/astronauthelmet.svg" alt="astro" class="front-face">
      <img src="./images/html.svg" alt="html-badge" class="back-face">
    </div>
    <div class="memory-card" data-value='astro'>
      <img src="./images/astronauthelmet.svg" alt="astro" class="front-face">
      <img src="./images/html.svg" alt="html-badge" class="back-face">
    </div>
    <div class="memory-card" data-value='youtube'>
      <img src="./images/youtube.svg" alt="youtube" class="front-face">
      <img src="./images/html.svg" alt="html-badge" class="back-face">
    </div>
    <div class="memory-card" data-value='youtube'>
      <img src="./images/youtube.svg" alt="youtube" class="front-face">
      <img src="./images/html.svg" alt="html-badge" class="back-face">
    </div>
  </section>
</div>
Yo!
